body{
  background-color: #5baaea;
}

.App {
  margin: 30px auto;
  padding: 50px;
  max-width: 1000px;
  background: url(./images/1.jpg);
  background-size: cover;
  border-radius: 15px;
}

.App footer {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 17px;
  text-align: center;
  text-decoration: none;
  margin: 10px auto;
  color: #f27282;
}

.App footer a {
  color: #fff;
  text-decoration: none;
  font-weight: 700;
}

.Weather {
  font-family: arial, sans-serif;
  padding: 16px;
  border-radius: 4px;
  color: #fff;
}

.Weather h1 {
  font-size: 24px;
  font-weight: 100;
  margin: 20px 0 0 0;
  line-height: 29px;
}

.Weather ul {
  margin: 0;
  padding: 0;
}

.Weather li {
  font-size: 16px;
  font-weight: 100;
  line-height: 19px;
  list-style: none;
}

.Weather .temperature {
  font-weight: bold;
  color: #fff;
  font-size: 64px;
  line-height: 64px;
  font-weight: 400;
  margin-left: 5px;
  position: relative;
  left: 60px;
  top: -75px;
}

.unit{
  position: relative;
  left: 60px;
  top: -75px;
}


.Weather canvas {
  margin: 10px auto;
  color: #fff;
}

.Weather .unit {
  color: #fff;
  font-size: 16px;
  font-weight: 400;
  position: relative;
  line-height: 1;
  top: -34px;
  position: relative;
  left: 60px;
  top: -110px;

}

.Weather a{
  color: #fff;
  text-decoration: none;
}


.WeatherForecast {
  text-align: center;
}

.WeatherForecast-temperature-min {
  opacity: 0.7;
  margin-left: 5px;
  font-size: 15px;
}

.WeatherForecast-temperature-max {
  font-size: 20px;
}