.App {
  margin: 30px auto;
  max-width: 700px;
  background: url(./images/forrest.jpeg);
  background-size: cover;
  border-radius: 15px;
}

.App footer {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 14px;
  text-align: center;
  margin: 10px auto;
  color: #fff;
}
.App footer a {
  color: #fff;
}

.Weather {
  font-family: Arial, Helvetica, sans-serif;
  color: #fff;
  padding: 20px;
  margin: 15px;
  border-radius: 4px;
}

.Weather h1 {
  color: #fff;
  font-size: 30px;
  line-height: 28px;
  margin: 16px 0 15px 0;
}

.Weather ul {
  margin: 0;
  padding: 0;
}

.Weather li {
  list-style: none;
  font-size: 16px;
  line-height: 18px;
}

.Weather img {
  margin: -18px 0 0 -18px;
  display: inline-block;
  
}

.Weather .temperature {
  color: #fff;
  font-size: 64px;
  line-height: 64px;
  font-weight: 400;
}

.Weather .units {
  color: #fff;
  font-size: 16px;
  font-weight: 400;
  line-height: 1;
  position: relative;
  top: -34px;
  text-decoration: none;
}

.Weather a{
  color: #fff;
  text-decoration: none;
}


.WeatherForecast {
  text-align: center;
}



.WeatherForecast-temperature-min {
  opacity: 0.6;
}